<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--
    데이터베이스 컬럼명에 '_' 문자열이 있으면 자동으로 대문자 처리되도록 설정한다.
    또한, 컬럼명이 'user_name'이라면 Entity 클래스의 멤버 변수 'userName'과 자동 매핑 되도록 설정한다.
     -->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.udemy.spring.project.board.vo.BoardPostVO" alias="BoardPostVO"/>
        <typeAlias type="com.udemy.spring.project.board.vo.BoardCommentVO" alias="BoardCommentVO"/>
        <typeAlias type="com.udemy.spring.project.utils.PageCriteria" alias="PageCriteria"/>
        <typeAlias type="com.udemy.spring.project.utils.SearchCriteria" alias="SearchCriteria"/>
    </typeAliases>

</configuration>